.clls img {
   border-radius: 100px;
   flood-color: aqua;
}
.clls {
   text-align: center;
   background-color: aquamarine;
}
.x1{
   text-align: center;
}
.x2{
   text-align: center;
}
.x3{
   text-align: center;
}
.x4{
   text-align: center;
   background-color: aqua;
}
.x5{
   text-align: center;
   background-color: aqua;
}
.x6{
   text-align: center;
   background-color: aqua;

}
.x7 img{
text-align: center;
border-radius: 100px;
}
.x7 {
   text-align: center;
   
}

.x9back {
   background-color: aquamarine;
}




